<footer class="mt-5 bg-light py-5 text-center">
    <p>SYMBNB @ Clercq Olivier - Site non commercial - Site formation Symfony 4</p>
    <a href="{{ path('homePage') }}">Accueil |</a>
    <a href="{{ path('ad') }}">Annonces |</a>
     <a href="#">S'inscrire |</a>
    <a href="{{ path('account_login') }}">Connexion |</a>
    <a href=" {{ path('account_register') }} ">Inscription |</a>
    <a href="{{ path('new') }}">Création annonce</a>
</footer>