{% set url = path('ad_show' , {'slug' : ad.slug } ) %}
         <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    {{ad.rooms}} chambres, <strong>{{ad.price}} Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="../img/img-london.jpg" alt="img appartement"
                 style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title" style="color:#3498db;">{{ad.title}}</h4>
                    <p class="card-text">
                        {{ad.introduction}}
                    </p>
                    <a href="{{ url }}" class="btn btn-success"><i class="far fa-eye"></i></a>
                    {% if app.user and app.user == ad.author %}
                        <a href=" {{path('ad_edit' , {'slug' : ad.slug } )}} "
                        class="btn btn-warning"><i class="far fa-edit"></i></a>
                        <a href=" {{path('ad_delete' , {'slug' : ad.slug } )}} "
                        class="btn btn-danger" 
                        onclick="return confirm(`Etes vous certain de vouloir supprimer l'annonce`)">
                        <i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </div>
            </div> 
    </div>