{% extends 'base.html.twig' %}

{% block title %} {{user.firstName}} {{user.lastName}} {% endblock %}

{% block body %}
    <div id="bgUser"></div>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col-md-1">
                    <img src=" {{user.picture}} " alt="avatar de {{user.picture}}" 
                    style="width: 180px; border-radius:50%;">
                </div>
                <div class="col-md-11" style="margin-top:50px;">
                    <h2 style="font-size:18px;"> {{user.firstName}} {{user.lastName}} en quelques mots </h2>
                </div>
            </div>

            <div class="row mt-3">
                <div class="md-12" style="text-align:justify;">
                    {{user.description | raw}}
                </div>
            </div>
                 <h2 style="font-size:18px;">Les annonces de {{user.firstName}} {{user.lastName}} </h2>
                    {% if user.ads | length %}
                        <div class="row">
                            {% for ad in user.ads %}
                                {% include 'ad/_ad.html.twig' %}
                            {% endfor %}   
                    {% else %}
                        <div class="alert alert-warning">
                             <p> {{user.firstName}} {{user.lastName}} n'a pas encore d'annonce  </p>
                        </div>
                     {% endif %}
                    </div>
                </div>
{% endblock %}
